.add-experience, .add-skills{
    background-color: lightgray;
    border: 1px solid black;
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 6px;
    cursor: pointer;
}

.heading{
    font-weight: bold;
    font-size: 26px;
}

.job{
    display: flex;
    gap: 10px;
}

.bi-bag-fill{
    font-size: 40px;
    border: 1px solid gray;
    padding: 2px;
    color: orangered;
}

button.experience-button, button.skill-button{
    background-color: rgb(82, 82, 194);
    padding: 10px 10px;
    border-radius: 25px;
    color: white;
    font-weight: bolder;
    border: none;
    cursor: pointer;
}