.add-experience, .add-skills{
    background-color: lightgray;
    border: 1px solid black;
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 6px;
}

.heading{
    font-weight: bold;
    font-size: 26px;
}

.job{
    display: flex;
    gap: 10px;
}

.bi-bag-fill{
    font-size: 40px;
    border: 1px solid gray;
    padding: 2px;
    color: orangered;
}

button.experience-button, button.skill-button{
    background-color: rgb(82, 82, 194);
    padding: 10px 10px;
    border-radius: 25px;
    color: white;
    font-weight: bolder;
    border: none;
    cursor: pointer;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-height: 500px;
    height: 500px;
    padding: 10px 15px;
    overflow: auto;
    background-color: white;
    border: 1px solid black;
}

.model-heading{
    font-weight: bolder;
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modal-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.field{
    display: flex;
    flex-direction: column;
}

label{
    color: darkslategray;
}

.month-year{
    display: flex;
    gap: 10px;
}

input[type="checkbox"]{
    transform: scale(1.5);
}

#currently-working-field{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.add-experience-button{
    display: inline-block;
    padding: 5px;
    border-radius: 15px;
    border: none;
    background-color: rgb(72, 72, 183);
    color: white;
}

.close-button{
    position: fixed;
    right: 5px;
    top: 5px;
    font-size: 32px;
    cursor: pointer;
}

.users-job{
    display: flex;
    gap: 10px;
}

.company-icon{
    padding-top: 15px;
}

.job-details{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.job-name{
    font-weight: bolder;
    font-size: 20px;
}

.company-name{
    display: flex;
    gap: 10px;
    color: rgba(0, 0, 0, 0.764);
}

.job-duration{
    display: flex;
    gap: 10px;
}

.job-location, .job-description{
    color: rgba(0, 0, 0, 0.408);
}

.skill-form{
    display: none;
}

.add-skill-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-skill-button{
    padding: 5px 25px;
    border-radius: 15px;
    border: none;
    background-color: aqua;
    font-weight: bolder;
}

#add-skill{
    width: 200px;
    height: 25px;
}

.skill-abc{
    display: flex;
    gap: 12px;
    margin-top: 15px;
    font-weight: 200;
    align-items: center;
}

.bi-trash{
    color: red;
}