body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.create-company-page{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: left;
    padding: 20px 20px;
    width: 500px;
    border-radius: 15px;
    border: 1px solid gray;
}

.create-company-page p{
    color: blue;
    font-size: 24px;
    font-weight: bolder;
    align-self: center;
}

.tab1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.field label{
    color: black;
    font: bolder;
}

.field input{
    height: 30px;
    border-radius: 15px;
    border: 1px solid black;
    padding: 0px 15px;
}

.field select{
    height: 30px;
    border-radius: 15px;
    border: 1px solid black;
}

.field textarea{
    height: 100px;
    padding: 10px 10px;
}

.tab1 .navigation-button{
    align-self: end;
    margin-right: 25px;
}

.tab2 .navigation-button, .tab3 .navigation-button{
   display: flex;
   justify-content: space-between;
}

.tab1-next, .tab2-next, .tab2-previous, .tab3-previous, .create-company-page-button, .create-company-cancel-button{
    background-color: blue;
    padding: 8px 25px;
    color: white;
    font-size: 16px;
    font: bolder;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}


.tab2{
    display: none;
}

.tab3{
    display: none;
}

.field .required{
    color: red;
}

