.body{
    overflow: hidden;
}

.show-jobs{
    display: flex;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    height: calc(100vh - 165px);
}

.list-jobs{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    scrollbar-width: none;
}

.describe-job{
    flex: 2;
    margin: 20px;
    overflow-y: auto;
}