.show-jobs{
    display: flex;
    gap: 10px;
    margin: 10px;
    padding: 10px;
}

.list-jobs{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.describe-job{
    flex: 2
}