.job-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
}

.job-card .job-info{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.job-info .job-id{
    display: none;
}

.job-info .title{
    color: blue;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.job-info .posted-by{
    color: rgb(73, 72, 72);
}

.posted-by .org-name{
    font-weight: bolder;
    cursor: pointer;
}

.ctc .ctc-number{
    color: green;
    font-weight: bolder;
}