.login-card{
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 20px;
    top: 25%;
    left: 25%;
    width: 50%;
    padding: 15px;
    border: 1px solid black;
    background-color: rgba(128, 128, 128, 0.031);
    border-radius: 15px;
}

.login-card .title{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
}

.login-card form input{
    height: 40px;
    padding-left: 10px;
}

.login-card form .login-button{
    width: auto;
    padding: 10px;
    background-color: rgba(0, 0, 255, 0.654);
    color: white;
    border: none;
    border-radius: 25px;
}