.navbar{
    width: 100%;
    height: 70px;
    padding: 0 30px;
    background-color: springgreen;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .title{
    font: bolder;
    font-size: large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.auth-related{
    display: flex;
    align-items: center;
    gap: 30px;
}


button.register, button.login{
    padding: 4px 10px;
    background-color: blue;
    border-radius: 5px;
    color: white;
    font: bolder;
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

button.register, button.login {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
}

button.register:hover, button.login:hover {
  background-color: #0056b3;
}