.company-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.company-page .company-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.company-details .company-name{
    font-size: x-large;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}