.user-profile{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
}

.user-intro{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-intro .name{
    font-weight: bolder;
    font-size: 32px;
}

.user-intro .desc{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}